@model SuiviPortefeuilleRBC.Models.ManagePortfolioViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Portfolio</h2>

@using(Ajax.BeginForm("StockList",
    "ManagePortfolio",
    null,
    new AjaxOptions() { UpdateTargetId = "stockList" },
    new { id = "PtfIdsajaxForm" }))
{
    @Html.DropDownListFor(m => m.CurrentPortfolioId,
    new SelectList(Model.PortfolioIds),
    new { onchange = "changePortfolioId()" })
}

<button id="btnAddLine" class="btn btn-default" data-toggle="modal" data-target="#newOperation">Add Operation</button>
<div id="stockList">
    @Html.Action("StockList", "ManagePortfolio", new { currentPortfolioId = Model.CurrentPortfolioId })
</div>

<div id="newOperation" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="myModalContent"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var url = '@Url.Action("DisplayAddOperation", "ManagePortfolio", new { currentPortfolioId = Model.CurrentPortfolioId })';
        $('#btnAddLine').click(function () {
            $('#myModalContent').load(url, function (response, status, xhr) {
                if (status == "error") {
                    var msg = "Sorry but there was an error: ";
                    $("#error").html(msg + xhr.status + " " + xhr.statusText);
                }
                else {
                    $('#newOperation').modal('show');
                }
            });
        })

        $("button[value='buysell']").click(function () {
            var url = $(this).data("url");
            $('#myModalContent').load(url, function (response, status, xhr) {
                if (status == "error") {
                    var msg = "Sorry but there was an error: ";
                    $("#error").html(msg + xhr.status + " " + xhr.statusText);
                }
                else {
                    $('#newOperation').modal('show');
                }
            });
        });

        var onSubmitSuccess = function (result) {
            $('#newOperation').modal('hide');
            if (typeof result.success != 'undefined') {
                if (!result.success) {
                    alert('Operation could not be added');
                } else {
                    alert('Impossible!');
                }
            }
            else {
                alert('Operation has been added');
            }
        };

        var changePortfolioId = function () {
            $("#PtfIdsajaxForm").submit();
        };
    </script>
}
